*{
	box-sizing:border-box;
}
.clear{
	clear:both;
}
@font-face{
	font-family:"abrilfatface";
	src:url("../fonts/AbrilFatface-Regular.ttf")
}
@font-face{
	font-family:"alefbold";
	src:url("../fonts/Alef-Bold.ttf")
}
@font-face{
	font-family:"alegreya";
	src:url("../fonts/AlegreyaSansSC-Black.ttf")
}
@font-face{
	font-family:"alef";
	src:url("../fonts/Alef-Regular.ttf")
}
body {
	margin:0px;
	background-color:#0f0f0f;
}
.head{
	background-color:black;
	position: fixed;
	padding:10px;
	width: 100%;
	top: 0;
}
header::after{
	content:'';
	display:table;
	clear:both;
}
.head input[type=text] {
	float:right;
	padding:6px;
	border:none;
	margin-top:8px;
	margin-left:50px;
	font-size:17px;
}
.container {
	width:80%;
	margin:0px;
	box-shadow: white 2px 120px;
}
.logo {
	float:left;
	padding:10px;
	position:fixed;
	z-index:99;
}
.logo:hover{
	cursor:pointer;
	opacity: 0.7;
}
nav {
	font-family:"alegreya";
	float:right;
}
nav ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
nav li{
	display:inline-block;
	margin-left:70px;
	padding-top:20px;
	position:relative;

}
nav a{
	color:#a68137;
	text-decoration:none;
	font-size:20px;
}
a:hover {
	color:#825c0d;
}
nav a::before{
	content:'';
	display:block;
	height:5px;
	background-color:#825c0d;
	position:absolute;
	top:0;
	width:0;
	
	transition: all ease-in-out 250ms;
}
nav a:hover:before{
	width:100%;
}
.text{
	font-family:"abrilfatface"; 
	font-weight: normal; 
	font-style: normal;
	color:#a68137;
	padding-top:20%;
	padding-bottom:20%;
	text-align:center;
	text-shadow: 1px 1px #000;
	
}
.main-div {
	width:100%;
	height:auto;
	margin-top:10px;
	background:#000;
	padding:20px 0px;
}
.social-icons{
	width:100%;
	height:auto;
	margin:auto;
}
.social-icons ul{
	margin:0;
	padding:0;
	text-align:center;
}
.social-icons li:hover{
	background-color:#E8D5AD;
}
.social-icons ul li{
	display:inline-block;
	width:50px;
	height:50px;
	margin:0px 10px;
	border-radius:100%;
	background-color:white;
}
.social-icons ul li a{
	color:#a68137;
	font-size:25px;
}
.social-icons ul li a i {
	line-height:50px;
}

.menu {
	width:100%;
	height:auto;
	margin:auto;
	background-color:#000;
}
.menu ul {
	margin:0;
	padding:0;
	text-align:center;
}
.menu ul li {
	display:inline-block;
	margin: 0px 25px;
}
.menu ul li a{
	font-family:"alegreya";
	font-size:20px;
	font-weight:500px;
	color:#a68137;
}
a{
	text-decoration:none;
}
.menu2 {
	width:100%;
	height:60px;
	margin:auto;
	background-color:#000;
}
.menu2 ul {
	margin:0;
	padding:0;
	text-align:center;
}
.menu2 ul li {
	display:inline-block;
	margin: 0px 23px;
}
.menu2 ul li a{
	font-family:"alegreya";
	font-size:20px;
	font-weight:500px;
	color:#a68137;
	margin-left:-5px;
}
.copyright{
	color:#a68137;
	font-family:"alef";
	text-align:center;
}
@media (max-width:600px){
	
	.logo{
		position:unset;
		margin-left:150px;
	}
	
	nav li{
		display:inline-block;
		margin-left:10px;
	}
	nav{
		
	}
	nav a{
		font-size:15px;
		margin-right:-15px;
		padding-right:10px;
	}